<div class="nav-and-search">
  <% if current_user.present? %>
    <%= render "shared/header/nav" %>
  <% else %>
    <div class="login-button-container">
      <%= link_to "#{t('home.signup')} / #{t('home.login')}", login_path, class: "login-button btn" %>
    </div>
  <% end %>

  <%= render partial: "shared/search_box", locals: { search_path: courses_path, placeholder_text: t("home.search_courses"), search_param: :search }  %>

  <% if current_organization.subdomain == 'getconnected' %>
    <%= link_to 'Learn more about how to get affordable Internet offers!', 'https://www.internetforallnow.org/', class: 'custom-header-link', target: '_blank' %>
  <% end %>
</div>