<div class="search-box">
  <%= form_tag courses_path, method: :get do %>
    <%= label_tag :search, "Search", class: "screen-reader-text" %>
    <%= search_field_tag :search, params[:search], placeholder: t("home.search_courses") %>
    <i class="icon-search grey"></i>
    <%= submit_tag "Search", id: "search_btn" %>
  <% end %>
</div>
