<header class="header-logged-in">

  <div class="container">
    <div class="row">
      English | Spanish
    </div>
    <div class="row">
      <div class="one-col">
        <%= render "shared/icon" %>
      </div>
      <div class="seven-col">
        <h1>Chicago Public Libraries</h1>
      </div>
      <div class="four-col last">
        Hi User | User Dashboard
      </div>
    </div>
  </div>

</header>