.chipublib {
  .slogan {
    color: $white;
    text-align: center;
  }

  .button-color {
    background-color: $blind-man-mustard;
    color: $white;
  }

  .color {
    background-color: $cpl-blue;
  }

  .text-color {
    color: $cpl-blue;
  }

  .link-color {
    color: $cpl-purple;
  }

  .icon-color {
    color: $cpl-blue;
  }

  .download-color {
    color: $cpl-purple;
  }

  .cert-color {
    color: $cpl-blue;
  }

  .lesson-block {
    @include lesson_block($cpl-blue, $grey);
  }

}
