.getconnected {
  @include color_scheme($get-connected-blue, $get-connected-orange);
  @include banner($get-connected-blue);
  @include buttons($get-connected-orange);
  @include course_widget($get-connected-orange);
  @include lesson_tile($get-connected-orange, $grey, $get-connected-orange);
  @include icons($get-connected-blue, $get-connected-orange);

  .custom-header-link {
    color: $get-connected-red;
    white-space: normal;
    text-align: left;
  }

  .external-survey-prompt {
    border: 1px solid $get-connected-blue;
    padding: 1rem;
    margin-bottom: 2rem;

    .feedback-banner {
      margin-top: 0;
      background-color: #C3E1F9;
      color: $black;
      padding: 0.5rem;
    }
  }
}
