.kclibrary {
  @include color_scheme($kc-blue, $kc-grey, $kc-light-grey, $kc-grey, $kc-grey);
  @include banner($kc-blue, 2.5em);
  @include buttons($kc-grey);
  @include course_widget($kc-grey);
  @include lesson_tile($kc-grey, $kc-blue, $kc-blue);
  @include icons($kc-blue, $kc-blue);

  .icon-search,
  .icon-search:before,
  i:before {
    color: $kc-blue !important;
  }

  &.login-new,
  &.sessions-new,
  &.registrations-new {
    p {
      color: $kc-blue;
    }
  }

  a:not(.btn):not(.inverted) {
    color: $kc-blue;
  }

  .cms_nav {
    color: $kc-grey;
  }

  .license {
    color: $kc-grey;
  }

  .course-widget.completed header {
    background: linear-gradient(to bottom, $kc-blue 0%, $kc-blue 100%);
  }
}
