<div class="lesson-playlist-grid">
  <% @course.lessons.each_with_index do |lesson, i| %>
    <%= render partial: "lessons/playlist/lesson_listing", locals: { lesson: lesson, lesson_number: i} %>
  <% end %>
</div>