<section class="playlist-header">
  <h2 class="text-color"><%= @course.title %></h2>
  <div class="lesson-info">
    <div class="lesson-info-count">
      <i class="icon-book-open grey"></i>
      <small><%= @course.lessons.count %> <%= t("course_page.lessons") %></small>
    </div>
    <div class="lesson-info-duration">
      <i class="icon-clock grey"></i>
      <small><%= @course.duration %></small>
    </div>
  </div>
</section>