<%= link_to course_lesson_path(@course, lesson, preview: @preview), data: { cpl_ga_event: "on",  cpl_ga_value: "user-click-lesson" }, class: "block_link lesson-listing_link" do %>
  <div class="lesson-listing">
    <div class="lesson-status-icon">
      <% if lesson.id == @lesson.id %>
        <i class="icon-play"></i>
      <% elsif lessons_completed(@course).include?(lesson.id) %>
        <i class="icon-ok orange"></i>
      <% else %>
        <i class="icon-none"></i>
      <% end %>
    </div>
    <div class="lesson-listing-item">
      <div class="lesson-number">
        <%= "#{lesson_number + 1}." %>
      </div>
      <div class="lesson-title">
        <%= lesson.title %>
      </div>
    </div>
  </div>
<% end %>
