<% content_for :meta_title do %>
  <%= @cms_page.seo_page_title.present? ? @cms_page.seo_page_title : @cms_page.title  %>
<% end %>
<% if @cms_page.meta_desc.present? %>
  <% content_for :meta_description do %>
    <%= @cms_page.meta_desc %>
  <% end %>
<% end %>
<% content_for :callout do %>
  <h1><%= @cms_page.title %></h1>
<% end %>

<div class="cms_page"><%= @cms_page_body %></div>
