<div class="form-group" id="custom_branch_form">
  <%= profile_form.fields_for :library_location do |f| %>
    <%= f.text_field :name, id: "custom_branch_name", placeholder: "#{t('login_signup.custom_branch')}" %>
    <%= f.hidden_field :custom, value: true %>
  <% end %>
</div>