<div id="programLocationFields">
  <fieldset>
    <% if params["user"].present? %>
      <%= f.hidden_field "previous_location_id", value: params["user"]["program_location_id"] %>
    <% end %>
    <%= f.collection_select :program_location_id, [], :id, :location_name, include_blank: false %>
  </fieldset>
</div>
