<tr id="partner_row_<%= partner.id %>">
  <td>
    <%= partner.name %>
  </td>
  <td>
    <%= link_to 'Delete', admin_partner_path(partner), method: :delete, remote: true, data: { confirm: "Delete #{partner.name} as a partner?" }, id: "delete_partner_link_#{partner.id}" %>
  </td>
</tr>