<div class="sortable-item flex-list" data-id="<%= lesson.id %>">
  <%= link_to edit_admin_course_lesson_path(course, lesson), class: "lesson-block" do %>
    <%= render partial: "shared/lessons/lesson_tile", locals: { completed: false, lesson: lesson } %>
  <% end %>
</div>
