<div class="container">
<% @course.lessons.published.each do |l| %>
  <%= render partial: "shared/lessons/lesson_block",
    locals: { lesson: l, completed: lessons_completed(@course).include?(l.id) } %>
<% end %>
</div>
