<% course.lessons.each_with_index do |l, index| %>
  <% if index % 4 == 0 %><div class="row"><% end %>

  <div class="three-col<% if index % 4 == 3 %> last<% end %>">
    <%= render partial: "shared/lessons/lesson_block", locals: { course: course, lesson: l }%>
  </div>

  <% if index % 4 == 3 %></div><% end %>
<% end %>
