<% if user_signed_in? %>
  <% lessons_completed = current_user.completed_lesson_ids(course) %>
<% else %>
  <% lessons_completed = [] %>
<% end %>

<div class="lesson-block-container">
<% course.lessons.each do |l| %>
  <%= render partial: "shared/lessons/lesson_block",
    locals: { course: course, lesson: l, completed: lessons_completed.include?(l.id) }%>
<% end %>
</div>
