<% if current_user %>
  <% lessons_completed = current_user.completed_lesson_ids(course) %>
<% else %>
  <% lessons_completed = session[:lessons_done] %>
<% end %>

<div class="row lesson-listing">
  <div class="sixcol">
  <% course.lessons.order(:lesson_order).each_with_index do |l, index| %>
    <% if index <= course.lessons.count / 2 %>
      <ul class="extra-padding">
        <li>
          <div class="row lesson-listing lesson-listing-first-row">
            <div class="onecol">
              <% if l.id == lesson.id %>
                <i class="icon-color icon-play"></i>
              <% elsif lessons_completed.include?(l.id) %>
                <i class="icon-ok orange"></i>
              <% else %>
                <i class="icon-none"></i>
              <% end %>
            </div>
            <div class="grey onecol">
              <%= l.lesson_order %>.
            </div>
            <div class="ninecol">
              <%= link_to l.title, course_lesson_path(course, l), data: { cpl_ga_event: "on",  cpl_ga_value: "user-click-lesson" }, class: "link-color" %>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
  <div class="sixcol last">
  <% course.lessons.order(:lesson_order).each_with_index do |l, index| %>
    <% if index > course.lessons.count / 2 %>
      <ul class="extra-padding">
        <li>
          <div class="row lesson-listing lesson-listing-first-row">
            <div class="onecol">
              <% if l.id == lesson.id %>
                <i class="icon-play"></i>
              <% elsif lessons_completed.include?(l.id) %>
                <i class="icon-ok orange"></i>
              <% else %>
                <i class="icon-none"></i>
              <% end %>
            </div>
            <div class="grey onecol">
              <%= l.lesson_order %>.
            </div>
            <div class="ninecol">
              <%= link_to l.title, course_lesson_path(course, l), data: { cpl_ga_event: "on",  cpl_ga_value: "user-click-lesson" }, class: "link-color" %>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
</div>
