<div class="row">
  <div class="sixcol">
  <% course.lessons.order(:lesson_order).each_with_index do |l, index| %>
    <% if index <= course.lessons.count / 2 %>
      <ul>
        <li>
          <i class="icon-ok orange"></i>
          <span class="grey"><%= l.lesson_order %>.</span>
          <%= link_to l.title, course_lesson_path(course, l) %>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
  <div class="sixcol last">
  <% course.lessons.order(:lesson_order).each_with_index do |l, index| %>
    <% if index > course.lessons.count / 2 %>
      <ul>
        <li>
          <i class="icon-play"></i>
          <span class="grey"><%= l.lesson_order %>.</span>
          <%= link_to l.title, course_lesson_path(course, l) %>
        </li>
      </ul>
    <% end %>
  <% end %>
  </div>
</div>
