<li class="resource-row <%= program_location.enabled? ? "table_row_enabled" : "table_row_disabled" %>" id="location_row_<%= program_location.id %>" >
  <div class="resource-cell">
    <%= program_location.location_name %>
  </div>
  <div class="resource-cell">
    <%= link_to (program_location.enabled? ? "Disable" : "Enable"), admin_program_location_toggle_path(program_location.id), method: :post, remote: true %>
  </div>
</li>