@mixin banner(
  $background_color,
  $custom_banner_font: 3.3em,
  $slogan_alignment: left,
  $text_color: $white
) {
  .slogan {
    text-align: $slogan_alignment;
  }

  .callout {
    flex-grow: 1;
  }

  .banner {
    background-color: $background_color;
    padding: 1em 0 2em 0;
    min-height: 2em;

    .banner-content {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap-reverse;
    }

    h1 {
      font-family: $font-secondary;
      color: $text_color;
      font-size: 3.3em;
      font-weight: 100;
      margin-bottom: 0;
      margin-top: 0.25em;

      &.slogan {
        @media (min-width: $breakpoint-tablet) {
          font-size: $custom_banner_font;
        }
      }
    }

    [class^="icon-"] {
      font-size: 20px;
      padding-right: 5px;
    }

    small {
      font-size: 20px;
      color: $text_color;
    }
  }
}
