@mixin buttons($button_color, $text_color: $white) {
  button:not(.icon-button),
  input[type="submit"],
  .btn {
    display: inline-block;
    background-color: $button_color;
    border: 3px solid $text_color;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px 0px;
    color: $text_color;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    min-height: 50px;
    padding: 11px 40px;
    text-align: center;
    min-width: 300px;
    letter-spacing: 1px;
    outline: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 10px 4px;
    }

    &:hover:focus {
      // Combined state
    }

    @media (max-width: $breakpoint-tablet) {
      min-width: 0;
    }

    &.small {
      min-width: 0;
      min-height: 35px;
      font-size: 16px;
      padding: 6px 40px;
    }

    &.spanish-small {
      font-size: 16px;
    }

    &.btn-grey {
      background-color: $grey;
    }

    &.btn-mustard {
      background-color: $mustard;
    }

    &.btn-blue {
      background-color: $teal;
    }

    &.btn-orange {
      background-color: $dark-orange;
    }
  }

  .icon-button {
    padding: 0;
    background: none;
    border: none;
    height: 100%;
  }
}
