@mixin color_scheme(
  $primary_color,
  $negative_color,
  $action_color,
  $text_alignment: left,
  $footer-color: $primary_color,
  $underline-color: $primary_color,
  $footer-nav-link: $white
) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary_color;
  }

  h3.disabled {
    color: $grey;
  }

  label {
    color: $primary_color;
  }

  .color {
    background-color: $primary_color;
  }

  .footer-primary {
    background-color: $footer-color;
  }

  a {
    color: $action_color;

    &.cms_nav--link {
      color: $footer-nav-link !important;
    }
  }

  .language-links {
    color: $action_color;

    a {
      color: $action_color;
    }
  }

  .logo-icon {
    a:hover {
      text-decoration: none;
    }
  }

  a.inverted {
    color: $white;
  }

  .slogan {
    color: $negative_color;
    text-align: $text_alignment;
  }

  .signup-label {
    font-size: 1.1em;
    color: $primary_color;
    margin-top: 1.5em;

    &-no-margin {
      margin-top: 0;
    }
  }

  .text-color {
    color: $primary_color;
  }

  .download-color {
    color: $action_color;
  }

  .cert-color {
    color: $primary_color;
  }

  .required:after {
    content: " *";
    color: $primary_color;
    font-weight: bold;
  }

  .underlined {
    border-bottom: solid;
    border-color: $underline-color;
    border-width: 1px;
    padding-bottom: 1em;
  }

  ul.objects li {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid $underline-color;
  }
}
