@mixin color_scheme(
  $primary_color,
  $action_color,
  $footer_color: $primary_color,
  $underline_color: $primary_color,
  $cms_link_color: $white
) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary_color;
  }

  h3.disabled {
    color: $grey;
  }

  label {
    color: $primary_color;

    &.disabled {
      color: $grey;

      .required:after {
        color: $grey;
      }
    }
  }

  table {
    th {
      color: $primary_color;
    }

    th,
    td {
      border-color: $underline_color;
    }
  }

  .table-row {
    border-color: $underline_color;
  }

  .footer {
    background-color: $footer_color;
  }

  a {
    color: $action_color;

    &.cms_nav--link {
      color: $cms_link_color !important;
    }
  }

  .language-links {
    color: $action_color;

    a {
      color: $action_color;
    }
  }

  a.inverted {
    color: $white;
  }

  .signup-label {
    font-size: 1.1em;
    color: $primary_color;
    margin-top: 1.5em;
  }

  .text-color {
    color: $primary_color;
  }

  .required:after {
    content: " *";
    color: $primary_color;
    font-weight: bold;
  }

  .underlined {
    border-bottom: solid;
    border-color: $underline_color;
    border-width: 1px;
    padding-bottom: 1em;
  }

  .admin-resource-list {
    .resource-row {
      border-color: $underline_color;
    }
  }
}
