@mixin course-widget(
  $primary_bg_color,
  $secondary_bg_color: $primary_bg_color
) {
  .course-widget {
    display: block;
    width: 310px;
    border: 1px solid $medium-grey;
    margin-bottom: 2em;
    margin-right: 1em;
    min-height: 175px;
    overflow: hidden;
    border-top-left-radius: 20px;
    float: left;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 2em;
    }

    header {
      height: 75px;
      overflow: hidden;
      border-top-left-radius: 20px;
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      color: white;
      font-size: 1.4em;
      font-weight: 300;
      margin: 0em 0.5em;
      padding: 0.4em 0.5em 0.5em 0.25em;
      text-align: left;
      line-height: 1.2em;
    }

    p {
      color: $grey;
      margin: 0;
      font-weight: 300;
    }

    .percent-complete {
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      color: $grey;
    }

    .description {
      position: relative;
      background-color: $white;
      height: 80px;
      margin: 0.75em 1em 0;
    }

    .duration {
      position: absolute;
      display: inline-block;
      bottom: 0;
      right: 0;
      color: $grey;
      padding-top: 1px;
      padding-left: 1.3em;
      font-weight: 400;
    }

    &.completed header {
      background: linear-gradient(to bottom, $grey 0%, $dark-grey 100%);
    }

    &.retake-quiz header {
      background: $primary_bg_color;
    }

    &.retake-quiz button {
      float: right;
    }
  }

  a.course-widget {
    text-decoration: none;

    header {
      background: linear-gradient(
        to bottom,
        $primary_bg_color 0%,
        $secondary_bg_color 100%
      );
    }

    &:hover {
      box-shadow: 0 0 10px $grey;
    }
  }
}
