@mixin course-widget(
  $primary_bg_color,
  $secondary_bg_color: $primary_bg_color
) {
  .course-widget {
    display: block;
    width: 310px;
    border: 1px solid $medium-grey;
    margin-bottom: 2em;
    margin-right: 1em;
    min-height: 175px;
    overflow: hidden;
    border-top-left-radius: 20px;
    float: left;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 2em;
    }

    &.new-course {
      border: 3px solid $glow-blue;
    }

    header {
      height: 75px;
      overflow: hidden;
      border-top-left-radius: 18px;
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      color: white;
      font-size: 1.4em;
      font-weight: 300;
      margin: 0em 0.5em;
      padding: 0.4em 0.5em 0.5em 0.25em;
      text-align: left;
      line-height: 1.2em;
    }

    p {
      color: $grey;
      margin: 0;
      font-weight: 300;
    }

    .description {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $white;
      height: 8.5rem;
      margin: 0.75em 1em 0;
    }

    .summary {
      flex-grow: 1;
    }

    .progress {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
    }

    .percent-complete {
      color: $grey;
    }

    .duration {
      color: $grey;
      font-weight: 400;
    }

    .attribution {
      padding-bottom: 0.5rem;
      font-size: 0.9rem;
      color: $glow-blue;
    }

    &.completed header {
      background: linear-gradient(to bottom, $grey 0%, $dark-grey 100%);
    }

    &.coming-soon header {
      background: $lighter-background-gray;
    }

    .coming-soon-label {
      color: $grey;
      font-weight: 300;
    }

    &.retake-quiz header {
      background: $primary_bg_color;
    }

    &.retake-quiz button {
      float: right;
      margin-bottom: 1rem;
    }
  }

  a.course-widget {
    text-decoration: none;

    header {
      background: linear-gradient(
        to bottom,
        $primary_bg_color 0%,
        $secondary_bg_color 100%
      );
    }

    &:hover {
      box-shadow: 0 0 10px $grey;
    }

    &.new-course {
      &:hover {
        box-shadow: 0 0 10px 2px $glow-blue; 
      }
    }
  }
}
