<% content_for(:callout) do %>
  <h1>Admin Dashboard</h1>
<% end %>

<h2>Login Requirement</h2>

<p class="emphasis no-top-margin">
Indicate whether or not login is required for users to access courses on your site.
<br>
By checking the box below, you indicate that all users must be signed in to access courses, despite the course access level set on the individual course edit pages.
</p>

<%= form_for @organization, url: admin_custom_features_path do |f| %>
  <div class="row">
    <div class="sixcol">
      <fieldset>
        <%= f.check_box :login_required %>
        <%= f.label :login_required, 'Require Login?', class: 'text-color inline-label' %>
      </fieldset>
    </div>
  </div>

  <%= f.submit 'Submit', class: "button-color" %>
<% end %>
