<%= render "form" %>

<hr>

<h1>Lessons</h1>
<p class="emphasis">
  Drag and drop the lessons to reorder them. Click on a lesson to edit it in the form above.
</p>
<div class="sortable_list_wrapper sortable-list sortable-lessons" data-page="lessons">
  <div class="objects sortable grid reorderable flex-list">
    <% @course.lessons.each do |lesson| %>
      <%= render partial: "shared/lessons/admin_lesson_tile_link", locals: { course: @course, lesson: lesson } %>
    <% end %>
  </div>
</div>

<%= link_to new_admin_course_lesson_path, class: "transparent btn button-color" do %>
  Add Another Lesson
<% end %>

<%= link_to edit_admin_course_path(@course), class: "transparent btn btn-grey" do %>
  Return To Course Edit Page
<% end %>
