<%= render "form" %>

<% unless @course_lessons.blank? %>
  <hr>

  <h1>Lessons</h1>

  <p class="emphasis">
    Drag and drop the lessons to reorder them. Click on a lesson to edit it in the form above.
  </p>
  <div class="sortable_list_wrapper sortable-list sortable-lessons" data-page="lessons">
    <div class="objects sortable grid reorderable flex-list">
      <% @course_lessons.each do |lesson| %>
        <%= render partial: "shared/lessons/admin_lesson_tile_link", locals: { course: @course, lesson: lesson } %>
      <% end %>
    </div>
  </div>

  <%= link_to edit_admin_course_path(@course), class: "transparent" do %>
    <div class="btn btn-grey">
      Return To Course Edit Page
    </div>
  <% end %>
<% end %>
