<ul class="sidebar-links">
  <% if current_user.has_role?(:trainer, current_organization) %>
    <li><%= link_to "Cyber Navigator Dashboard", trainer_dashboard_index_path, class: link_color_class %></li>
  <% end %>
  <li><%= link_to "#{t('profile_page.change_login_information')}", account_path, class: link_color_class %></li>
  <li><%= link_to "#{t('profile_page.update_profile')}", profile_path, class: link_color_class %></li>
  <li><%= link_to "#{t('profile_page.my_completed_courses')}", completed_courses_path, class: link_color_class %></li>
</ul>
