<ul class="sidebar-links">
  <li><%= link_to "#{t('profile_page.change_login_information')}", account_path %></li>
  <li><%= link_to "#{t('profile_page.update_profile')}", profile_path %></li>
  <li><%= link_to "#{t('profile_page.my_completed_courses')}", completed_courses_path %></li>
</ul>
