<ul class="sidebar-links">
  <li><%= link_to "Change Login Information", account_path %></li>
  <li><%= link_to "Update Profile", profile_path %></li>
  <li><%= link_to "My Completed Courses", completed_courses_path %></li>
</ul>
