
<div class='form-row'>
  <fieldset>
    <div class='inline-form'>
      <%= f.text_field :location_name %>
      <%= f.submit "Add", id: "addLocation" %>
      <%= f.hidden_field :program_id, :value => @program.id %>
    </div>
  </fieldset>
</div>
