<!-- Fields for Pages Content -->
<fieldset>
  <%= f.hidden_field :_destroy, class: "removable" %>
  <%= f.label :body do %>
    Page Content<span class="required"></span>
  <% end %>
  <%= f.text_area :body %>
</fieldset>

<!-- <langfields class="twocol last">
  <%= f.collection_select(:language_id, Language.all, :id, "name", { include_blank: "Language" }, class: "small" ) %>
</langfields> -->

<script>
  CKEDITOR.replace("cms_page_contents_attributes_0_body");
</script>
