  <div class="twocol">
    <%= f.submit "Preview", params: { commit: "Preview" }, class: "btn-grey small" %>
  </div>
  <div class="twocol">
    <%= f.submit "Save", params: { commit: "Save Page" }, class: "btn-grey small" %>
  </div>
  <div class="fourcol">
    <%= f.submit "Save & Edit Spanish", class: "small" %>
  </div>
  <div class="twocol last">
    <%= link_to "Delete", admin_cms_page_path(@page), method: :delete, data: { confirm: "Are you sure you want to delete this page?" }, class: "btn btn-grey small" %>
  </div>
