  <div class="fourcol">
    <%= f.submit "Preview Page", params: { commit: "Preview" }, class: "btn-grey" %>
  </div>
  <div class="fourcol">
    <%= f.submit "Save Page", params: { commit: "Save Page" }, class: "btn-grey" %>
  </div>
  <div class="fourcol last">
    <%= f.submit "Save and Create Spanish" %>
  </div>
