  <div class="sixcol center">
    <%= f.submit "Preview Page", params: { commit: "Preview" }, class: "btn-grey" %>
  </div>
  <div class="sixcol center last">
    <%= f.submit "Save Page", params: { commit: "Save Page" }, class: button_color %>
  </div>
