<%= content_for(:callout) { %><h2>Admin Dashboard</h2><% } %>

<div>
  <p  class="emphasis no-top-margin">This is a preview of your page, scroll down to continue editing.</p>
  <hr>
  <h2><%= @cms_page.title %></h2>
  <div><%= @cms_page_body %></div>
</div>
<div>
  <p class="emphasis no-top-margin">Continue editing this Page below &darr; </p>
  <hr>
</div>
