<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<div>
  <p>This is a preview of your page, scroll down to continue editing.</p>
  <hr>
  <h2><%= @page.title %></h2>
  <div><%= raw(@page.content.body) %></div>
</div>
<div>
  <h2>Continue editing this Page below &darr; </h2>
  <hr>
</div>