<header class="header-logged-in <%= "lesson-header" if request.path.include?("/lessons/")%>">
  <div class="container">
    <div class="language-links">
      <%= render "shared/language_links" %>
      <small>
        <%= link_to "Help Learners", "http://community.digitallearn.org", class: "practice-link" %>
      </small>
    </div>
    <div class="row">
      <div class="twelvecol">
        <%= render "shared/logo_purple" %>
      </div>
    </div>
  </div>
</header>
