<% if flash[:notice] || flash[:alert] %>
  <div>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice].html_safe %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert].html_safe %></p>
    <% end %>
  </div>
<% end %>
