<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="threecol">
        <ul class="cms_nav">
          <strong>LEARN MORE</strong>
          <% if @footer_pages %>
            <% @footer_pages.each do |page| %>
              <li><%= link_to page.title, cms_page_path(page) %></li>
            <% end %>
          <% end %>
          <li><%= link_to "Get DigitalLearn for your Library", static_overview_url(subdomain: "www") %></li>
          <li><%= link_to "Libraries with DigitalLearn", static_portfolio_url(subdomain: "www") %></li>
        </ul>
      </div>
      <%= render "shared/logo_footer" %>
    </div>
  </div>
</footer>
