<div class="logo">
  <div class="logo-icon">
    <div class="fourcol right-logo">
      <%= link_to "http://www.chipublib.org/" do %>
        <%= image_tag "cpl_logo_white", class: "medium-logo link-cpl" %>
      <% end %>
    </div>
    <div class="fivecol last right-logo">
      <%= link_to "http://www.ala.org/pla/" do %>
        <%= image_tag "pla_logo", class: "large-logo link-pla" %>
      <% end %>
    </div>
  </div>
</div>
