<div class="logo">
  <div class="logo-icon">
    <%= image_tag "seal_purple" %>
  </div>
  <div class="logo-content">
    <h1>DigitalLearn.org</h1>
    <h2>Chicago Public Libraries</h2>
  </div>
</div>