<h1 class="slogan">
  <% if user_signed_in? %>
    <%= t('logged_in_user.hi') %> <%=current_user.profile.first_name%><%= "(ADMIN)" if current_user.admin? %>!
    <br>
  <% end %>
  <%= raw t("home.#{current_organization.subdomain}.custom_banner_greeting", default: t("home.default_org.custom_banner_greeting")) %>
</h1>
