<%= link_to root_path do %>
  <div class="logo">
    <div class="logo-icon">
      <% case request.subdomain %>
      <% when "www" %>
        <%= image_tag "dl_logo" %>
      <% else %>
        <%= image_tag "seal_white_on_black", class: "dark-logo" %>
      <% end %>
    </div>
    <% unless request.subdomain == "www" %>
      <div class="logo-content">
        <h1>Chicago DigitalLearn.org</h1>
      </div>
    <% end %>
  </div>
<% end %>
