<div class="logo">
  <div class="logo-icon">
    <div class="fourcol">
      <%= image_tag "cpl_logo_white", class: "medium-logo" %>
    </div>
    <div class="fivecol last">
      <%= image_tag "pla_logo", class: "large-logo" %>
    </div>
  </div>
</div>