<%= link_to root_path do %>
  <div class="logo">
    <div class="logo-icon">
      <% case  Rails.application.config.subdomain_site %>
      <% when "www" %>
        <%= image_tag "dl_logo" %>
      <% else %>
        <%= image_tag "chipub_logo_2_black", class: "dark-logo" %>
      <% end %>
    </div>
  </div>
<% end %>
