<div class="logo">
  <div class="logo-icon">
    <% case request.subdomain %>
    <% when "admin" %>
      <%= image_tag "dl_logo" %>
    <% else %>
      <%= image_tag "seal_white_on_transparent" %>
    <% end %>
  </div>
</div>
