<%= link_to root_path do %>
  <div class="logo">
    <div class="logo-icon">
      <% case  current_organization.subdomain %>
      <% when "www" %>
        <%= image_tag "dl_logo" %>
      <% else %>
        <%= safe_logo_tag "#{current_organization.subdomain}_logo_black", class: "dark-logo" %>
      <% end %>
    </div>
  </div>
<% end %>
