<div class="qr-success-page center">
  <%= image_tag 'clapping_hands.png' %>
  <h1 class="congrats-message">Congratulations!</h1>
  <div class="body-large">You successfully scanned the QR Code</div>
  <br />
  <br />
  <div class="body-large"><em>Please return to the course to complete the lesson.</em></div>
  <hr />
  <div class="image-container">
    <%= image_tag "att_certificate_logo.png" %>
  </div>
</div>