<div class="course-widget coming-soon">
  <header>
    <h3 class="course-title shaveable" data-resize-height="75"><%= course.title %></h3>
  </header>
  <div class="description">
    <div class="coming-soon-label"><%= t('home.coming_soon') %></div>
    <p><%= course.summary %></p>
  </div>
</div>