<div class="course-progress">
  <header>Course: <%= course.title %></header>
  <div class="progress-bar">
    <span class="meter" style="width: <%= course_progress.percent_complete %>%"></span>
  </div>
  <footer>
    <span class="percent-complete"><%= course_progress.percent_complete %>% Complete</span>
    <span class="next-lesson-link">
      <% unless lesson.is_assessment %>
        <%= link_to "Skip to next lesson >>",
          course_lesson_path(course, course.next_lesson_id(lesson.id)), class: "inverted" %>
      <% end %>
    </span>
  </footer>
</div>