<% if current_page?(controller: "my_courses", action: "index") %>
  <%= link_to new_quiz_response_path, class: "course-widget retake-quiz" do %>
    <header>
      <h3><%= t('my_courses_page.ready_to_learn_more') %></h3>
    </header>
    <div class="description">
      <p><%= t('my_courses_page.find_new_courses_retake_quiz') %></p>
      <%= button_tag i18n_with_default("completed_courses_page.#{current_organization.subdomain}.retake_the_quiz"), class: "btn small button-color" %>
    </div>
  <% end %>
<% end %>
