<%# TODO: Fill in when we have the quiz path, both for the a href, and the button click %>
<% if current_page?(controller: "courses", action: "your") %>
  <a class="course-widget retake-quiz" href="/courses/quiz">
    <header>
      <h3>Ready to learn more?</h3>
    </header>
    <div class="description">
      <p>Find new courses when you retake the quiz</p>
      <%= button_tag "Retake the quiz", class: "btn small" %>
    </div>
  </a>
<% end %>
