<% if current_page?(controller: "my_courses", action: "index") %>
  <a class="course-widget retake-quiz" href="/courses/quiz">
    <header>
      <h3><%= t('my_courses_page.ready_to_learn_more') %></h3>
    </header>
    <div class="description">
      <p><%= t('my_courses_page.find_new_courses_retake_quiz') %></p>
      <% if I18n.locale == :es %>
        <%= button_tag t("completed_courses_page.#{current_organization.subdomain}.retake_the_quiz"), class: "btn small spanish-small button-color" %>
      <% else %>
        <%= button_tag t("completed_courses_page.#{current_organization.subdomain}.retake_the_quiz"), class: "btn small button-color" %>
      <% end %>
    </div>
  </a>
<% end %>
