<% categorized_courses(@courses).each do |category_name, courses| %>
  <h3><%= category_name %></h3>
  <div class="flex-list">
    <% courses.each do |course| %>
      <% if course.published? %>
        <%= render partial: 'shared/courses/course_widget', locals: { course: course } %>
      <% elsif course.coming_soon? %>
        <%= render partial: 'shared/courses/coming_soon', locals: { course: course } %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless current_user && current_user.profile.opt_out_of_recommendations %>
  <%= render partial: "shared/courses/learn_more" %>
<% end %>
