<% if org_admin? && @preview %>
  <div class='preview-notice'>
    <div class='container'>
      You are previewing this course.
      <%= link_to 'Import Course', admin_dashboard_add_imported_course_path(course_id: @course.id), method: :post %>
      <%= link_to 'Return to Admin Dashboard', admin_import_courses_path %>
    </div>
  </div>
<% end %>