<div class="search-box">
  <%= form_tag courses_path, method: :get do %>
    <%= search_field_tag :search, params[:search], placeholder: 'Search courses by keyword' %>
    <i class="icon-search">&nbsp;</i>
  <% end %>
</div>
