<h1>Choose a class below to start learning.</h1>

<p>If you are new to computers, haven't used them for a while, are a little unsure and uncomfortable, or just need a bit of a refresher, we have the tools to help you tackle technology at your own pace and gain the confidence you need to succeed.</p>

<div class="row">
  <div class="four-col">
    <a class="course-widget">
      <header>
        <h3 style="background: url('http://digitallearn.org/sites/default/files/class_topics/basic_skills_0.png') no-repeat scroll right 5px transparent">Getting Started on the Computer</h3>
      </header>
      <div class="description">
        <p>Learn about what a computer is and how to use a mouse and keyboard. </p>
        <p class="duration">15 mins</p>
      </div>
    </a>
  </div>

  <div class="four-col">
    <a class="course-widget">
      <header>
        <h3 style="background: url('http://digitallearn.org/sites/default/files/class_topics/basic_skills_0.png') no-repeat scroll right 5px transparent">Using a PC (Windows 7)</h3>
      </header>
      <div class="description">
        <p>Learn how to use a PC with the Windows 7 Operating System. </p>
        <p class="duration">13 mins</p>
      </div>
    </a>
  </div>

  <div class="four-col last">
    <a class="course-widget clear-margin-right">
      <header>
        <h3 style="background: url('http://digitallearn.org/sites/default/files/class_topics/basic_skills_0.png') no-repeat scroll right 5px transparent">Using a Mac (OS X)</h3>
      </header>
      <div class="description">
        <p>Learn the basics of using a Mac (Apple) computer with the OS X Operating System.</p>
        <p class="duration">14 mins</p>
      </div>
    </a>
  </div>
</div>