<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="threecol">
        <ul class="cms_nav">
          <% if @footer_pages && @footer_pages.any? %>
            <strong>LEARN MORE</strong>
            <% @footer_pages.each do |page| %>
              <li><%= link_to page.title, cms_page_path(page), class: "cms_nav--link" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= render "shared/logo_footer" %>
    </div>
  </div>
</footer>
