<footer class="footer">
  <div class="container footer-content">
    <ul class="cms_nav" id="footer_link_section">
      <% if @footer_pages&.any? || @footer_links&.any? %>
        <strong><%= t('common.learn_more') %></strong>
        <% @footer_pages&.each do |page| %>
          <li><%= link_to page.title, cms_page_path(page), class: "cms_nav--link" %></li>
        <% end %>

        <% @footer_links&.each do |footer_link| %>
          <%= render partial: "shared/layout/footer_link", locals: { link: footer_link } %>
        <% end %>
      <% end %>
    </ul>

    <%= render "shared/logo_footer" %>
  </div>
</footer>
