<header class="application-header">
  <div class="container header-grid">
    <%= render "shared/header/language_links" %>
    <%= render "shared/header/trainers_link" %>
    <%= render "shared/header/logo_purple" %>
    <%= render "shared/header/nav_and_search" %>
  </div>
</header>