<header class="header-logged-out">

  <div class="container">
    <div class="row">
      <div class="two-col">
        <%= render "shared/icon" %>
      </div>

      <div class="six-col">
        <h1>Connect to the Digital World</h1>
      </div>

      <div class="four-col last">
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn" %>
        <% else %>
          <%= link_to "Log In", user_account_path, class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>

</header>