<header class="header-logged-out">

  <div class="container">
    <div class="row">
      <div class="twocol">
        <%= render "shared/icon" %>
      </div>

      <div class="sixcol">
        <% if content_for?(:callout) %>
          <h1><%= yield :callout %></h1>
        <% else %>
          <h1>Connect to the Digital World</h1>
        <% end %>
      </div>

      <div class="fourcol last left-or-right">
        <%= link_to "Log In", login_path, class: "btn" %>
      </div>
    </div>
  </div>

</header>