default: &default
  sendgrid_login:
  sendgrid_password:
  sendgrid_domain:
  notification_default_from: "no-reply@example.com"
  rollbar_api_key: ""
  recaptcha_site_key: ""
  recaptcha_secret_key: ""

development:
  <<: *default
  secret_key_base:

test:
  <<: *default
  secret_key_base:

production:
  secret_key_base:
