<html>
  <body>
    <div class="error_head">
      <h1>Woops! We couldn't find what you were looking for!</h1>
    </div>

    <div class="error_link">
      <h3>Head back to the <%= link_to "Home Page", root_path %></h3>
    </div>
  </body>
</html>
