.emphasis {
  color: $grey;
  font-style: italic;
}

.small-14 {
  font-size: 14px;
}

.bottom-margin {
  margin-bottom: 10px;
}

.extra-bottom-margin {
  margin-bottom: 3em;
}

.top-margin {
  margin-top: 2rem;
}

.no-top-margin {
  margin-top: 0;
}

.left-or-right {
  text-align: right;
  @media (max-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.left-or-center {
  text-align: center;
  @media (max-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.vertical-bar {
  display: inline-block;
  margin-left: 1em;
  padding-right: 0.5em;
  border-left: 1px solid $grey;
  height: 2em;
  vertical-align: middle;
}

.cke_contents.cke_reset {
  border: 2px solid $grey;
  border-radius: 6px;
}

.left-two-thirds {
  max-width: 676px;
  float: left;
  margin-right: 19px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

label.inline-label {
  display: inline;
  color: black;
  font-size: 1.1em;
  margin-left: 0.5em;
}

ul.less-padding {
  padding-left: 1.5em;
}

.show_with_bullets {
  ul {
    list-style: initial;
  }
}
