.course-details {
  color: $teal;
  font-size: 2em;
  margin: 1em 0 0.5em 0;
  font-weight: 200;

  @include media($mobile-large) {
    font-size: 1.6em;
  }
}

.lesson-start-instructions {
  margin-bottom: 1.5em;
}
