@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot?61868596');
  src: font-url('fontello.eot?61868596#iefix') format('embedded-opentype'),
       font-url('fontello.woff?61868596') format('woff'),
       font-url('fontello.ttf?61868596') format('truetype'),
       font-url('fontello.svg?61868596#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61868596#fontello') format('svg');
  }
}
*/
