.footer-primary {
  margin-top: 2em;
  padding: 2em 0;
  min-height: 236px;
  background-color: $teal;
  color: $white;
  text-align: center;
}

ul strong {
  margin-bottom: 5px;
}

.medium-logo {
  width: auto;
  max-height: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.link-pla {
  width: auto;
  max-height: 60px;
  margin-bottom: 10px;
}

.right-logo {
  text-align: right;
}

.large-logo {
  padding-top: 2em;
  width: 90%;
}

.license {
  text-align: right;
}

.cms_nav {
  padding-left: 0px;
  text-align: left;

  a {
    color: $white !important;
  }

}

.link-cpl {
  padding-right: 1em;
}