.footer-primary {
  margin-top: 2em;
  padding: 2em 0;
  height: 236px;
  background-color: $teal;
  color: $white;
  text-align: center;
}

ul strong {
  margin-bottom: 5px;
}

.medium-logo {
  max-width: 85%;
  max-height: 75%;
}

.large-logo {
  padding-top: 10%;
  width: 75%;
  height: 75%;
}

.license {
  padding-top: 5px;
  padding-left: 20px;
}

.cms_nav {
  padding-left: 0px;
  a {
    color: $white;
  }
}
