.footer-primary {
  margin-top: 2em;
  padding: 2em 0;
  min-height: 236px;
  background-color: $teal;
  color: $white;
  text-align: center;
}

ul strong {
  margin-bottom: 5px;
}

.medium-logo {
  width: 105px;
  height: auto;
}

.right-logo {
  text-align: right;
}

.large-logo {
  padding-top: 2em;
  width: 90%;
}

.imls-logo-large{
  width: 90%;
}

.license {
  text-align: right;
}

.cms_nav {
  padding-left: 0px;
  text-align: left;
  a {
    color: $white;
  }
}

.link-cpl {
  padding-right: 1em;
}