@import "vars";

fieldset {
  margin: 1em 0;
}

label {
  font-weight: bold;
}

label.plain {
  font-weight: normal;
  text-transform: capitalize;
}

.required:after {
  content: " *";
  color: $red;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
  width: 100%;
  font-size: 14px;
  padding: 0.5rem;
  border: 1px solid $light-grey;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 0.5rem;
  border: 1px solid $light-grey;
  background: $white;
}

button, input[type="submit"] {
  display: inline-block;
  background-color: $purple;
  border: 3px solid $white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px 0px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  padding: 11px 40px;
  text-align: center;
  min-width: 300px;

  @include breakpoint($tablet) {
    min-width: initial;
  }
}
