label {
  color: $teal;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  display: block;
}

legend {
  margin-bottom: 0.5em;
}

label.plain {
  color: $dark-grey;
  font-size: 1em;
  margin-bottom: 0.5em;
  display: inline-block;
  padding-right: 1em;
}

.required:after {
  content: " *";
  color: $teal;
  font-weight: bold;
}

.form-row {
  margin: 1em 0;

  &.inline {
    align-items: flex-end;
    display: flex;

    .inline-item {
      flex-grow: 1;
      align-self: flex-end;

      &:not(:last-child) {
        padding-right: 2em;
      }
    }

    &.flex-start {
      align-items: flex-start;

      .inline-item {
        align-self: flex-start;
      }
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"] {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid $grey;
  border-radius: 5px;

  &.topic-box {
    width: 60%;
    font-size: 14px;
    display: none;
  }
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0.5rem;
  border: 2px solid $grey;
  border-radius: 5px;
  background: $white;
  resize: vertical;
}

.hideUntilActive {
  display: none;
}

.table_row_disabled {
  color: $grey;
}

.inline-form {
  margin: 1em 0;
  display: flex;
  align-items: center;

  .inline-input {
    flex-grow: 1;
    padding-right: 2em;
  }

  input {
    &:nth-child(1) {
      margin-right: 1em;
    }
  }
}

.date-select {
  select {
    width: 30%;

    &:nth-child(1) {
      width: 45%;

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
        margin-bottom: 0.5em;
      }
    }

    &:nth-child(2) {
      width: 20%;

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
        margin-bottom: 0.5em;
      }
    }

    &:nth-child(3) {
      width: 30%;

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }
    }
  }
}

// This is for applying to a link_to that wraps a button div. Use this class or
// the link path text is visible from behind the button where the drop shadow is
.transparent {
  color: transparent;
}

select {
  -webkit-appearance: none;
  padding: 0.8em 2.5em 0.8em 0.6em;
  background: url(asset_path("select_box_arrows.png")) no-repeat 96% 50%;
  border: 2px solid $grey;
  font-size: 16px;
  width: 100%;

  &.small {
    min-width: initial;
    height: 35px;
    padding: 6px 40px;
  }

  &.narrow {
    max-width: 100px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.upload-field {
  margin-top: 0;
  border-radius: 5px;
  border: 2px solid $grey;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  padding-left: 10px;
  width: 100%;
}

.text-field {
  margin-top: 0.5em;
}

.form-2-col {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}

.center {
  text-align: center;
  display: block;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
#profile_language_id {
  color: $black;
}

.select2-container--default .select2-selection--single {
  padding: 0.5em 2.5em 0.7em 0.4em;
  border: 2px solid $grey;
  height: 48px;
  width: 100%;
  font-size: 1em;
  position: relative;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  background: url(asset_path("select_box_arrows.png")) no-repeat 96% 50%;
  padding: 1.2em 10em;
  position: absolute;
}

//Fine for accessiblity since the textbook you type in has an outline

.select2-container .select2-selection--single {
  outline: 0;
}

.inline-checkbox-row {
  padding-top: 15px;

  .plain-label {
    font-size: 16px;
    color: black;

    span {
      padding-left: 10px;
    }
  }
}

.inline-radio-group {
  padding-top: 10px;
  padding-left: 20px;

  .radio-option {
    input,
    label {
      margin-top: 0;
      display: inline-block;
    }

    label {
      font-size: 14px;
      color: black;
      padding-left: 10px;
    }
  }
}

.form-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.left {
    justify-content: flex-start;
  }

  &.spread {
    justify-content: space-between;
  }

  .secondary-action {
    margin-left: 2em;
  }

  input[type="submit"] {
    margin-top: 1em;
    margin-bottom: 1em;

    @media (max-width: $breakpoint-mobile-large) {
      width: 100%;
    }
  }

  a {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.form-style-2 {
  background: $light-grey;
  padding: 2rem 4rem;
}

.character-limit {
  margin-bottom: -14px;
}
