fieldset {
  margin: 1em 0;
}

label {
  color: $teal;
  font-size: 1.5em;
  margin-bottom: .5em;
  display: block;
}

label.plain {
  color: $dark-grey;
  font-size: 1em;
  margin-bottom: .5em;
  display: inline-block;
  padding-right: 1em;
}

.required:after {
  content: " *";
  color: $teal;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid $grey;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 0.5rem;
  border: 1px solid $light-grey;
  background: $white;
}

button, input[type="submit"], .btn {
  display: inline-block;
  background-color: $purple;
  border: 3px solid $white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px 0px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  padding: 11px 40px;
  text-align: center;
  min-width: 300px;

  @include media($tablet) {
    min-width: initial;
  }

  &.small{
    min-width: initial;
    height: 35px;
    padding: 6px 40px;
  }
}
