fieldset {
  margin: 1em 0;
}

label {
  color: $teal;
  font-size: 1.5em;
  margin-bottom: .5em;
  display: block;
}

label.plain {
  color: $dark-grey;
  font-size: 1em;
  margin-bottom: .5em;
  display: inline-block;
  padding-right: 1em;
}

.required:after {
  content: " *";
  color: $teal;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid $grey;
  border-radius: 5px;

  &.topic-box {
    width: 60%;
    font-size: 14px;
  }
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
  padding: 0.5rem;
  border: 1px solid $light-grey;
  background: $white;
}

// This is for applying to a link_to that wraps a button div. Use this class or
// the link path text is visible from behind the button where the drop shadow is
.transparent {
  color: transparent;
}

select {
  -webkit-appearance: none;
  padding: .8em 2.5em .8em .6em;
  background: url("/assets/select_box_arrows.png") no-repeat 96% 50%;
  border: 2px solid $grey;
  font-size: 16px;
  color: $grey;
  width: 100%;

  &.small {
    min-width: initial;
    height: 35px;
    padding: 6px 40px;
  }

  &.narrow {
    max-width: 100px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.upload-field {
  margin-top: 0;
  border-radius: 5px;
  border: 2px solid $grey;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  padding-left: 10px;
  width: 100%;
}

.text-field {
  margin-top: 0.5em;
}

.form-2-col {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}

.center {
  text-align: center;
  display:block;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, #profile_language_id {
  color: $black;

}

.select2-container--default .select2-selection--single {
    padding: .5em 2.5em .7em .4em;
    border: 2px solid $grey;
    height: 48px;
    width: 100%;
    font-size: 1em;
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url("/assets/select_box_arrows.png") no-repeat 96% 50%;
  padding: 1.2em 10em;
  position: absolute;
}

//Fine for accessiblity since the textbook you type in has an outline

.select2-container .select2-selection--single{ outline: 0 }
