$max-width: 1024px;
$column: 64px;
$gutter: 16px;
$grid-columns: 12;

/* For debugging grid settings */
// $visual-grid: true;
// $visual-grid-color: blue;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;
