@import "bourbon";
@import "neat";

.header-grid {
  display: grid;
  align-items: center;
  padding-bottom: 1rem;
  grid-template-columns: 40% 60%;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "language-links trainer-link"
    "logo nav-and-search";

  @include media($mobile-xlarge) {
    grid-template-columns: 30% 70%;
    grid-template-areas:
      "language-links trainer-link"
      "logo logo"
      "nav-and-search nav-and-search";
  }
}

.language-links {
  grid-area: language-links;
}

.trainers-link {
  grid-area: trainer-link;
  text-align: right;
}

.main-logo {
  grid-area: logo;

  @include media($mobile-xlarge) {
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 120px;
    margin: 0.2em;

    @include media($mobile-xlarge) {
    }
  }
}

.nav-and-search {
  grid-area: nav-and-search;
  text-align: right;
  padding-left: 3rem;

  @include media($mobile-xlarge) {
    padding-left: 0;
  }
}

.header-nav {
  margin-bottom: 0.5rem;
  @include media($mobile-xlarge) {
    margin: 0.5rem 0;
    text-align: center;
  }
}

.login-button-container {
  margin-bottom: 0.5rem;

  @include media($mobile-xlarge) {
    width: 80%;
    margin: 0.5rem auto;
    .login-button {
      display: block !important;
    }
  }

  @include media($mobile-large) {
    width: 100%;
    margin: 0.5rem auto;
  }
}

// This should be somewhere else
.practice-link {
  float: right;
}
