.content-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "main-content";
}

.content-grid-with-sidebar {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "sidebar main-content";
}

.main_content {
  grid-area: main-content;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-links {
  padding-left: 0;
}
