// We have a few marketing type pages that have a slighly different style
// and rather than add a bunch of classes to each element, I thought it would
// be better to wrap them all in a class, and work with them that way.

div.static-page {
  padding-top: 1rem;

  h2 {
    font-size: 34px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: $purple;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
  }

  h5 {
    font-size: 16px;
    color: $black;
  }

  ul.checkmarks {
    list-style: none;
    padding: 0;

    li {
      padding-left: 1.3em;
    }

    li:before {
      content: "\e80a";
      font-family: "fontello";
      display: inline-block;
      margin-left: -1.3em; /* same as padding-left set on li */
      width: 1.3em; /* same as padding-left set on li */
    }

    &.teal {
      li:before {
        color: $teal;
      }
    }

    &.purple {
      li:before {
        color: $purple;
      }
    }
  }

  .overview-image {
    max-width: 300px;
    max-height: 231px;
    width: 90%;

    .background-fill {
      fill: $purple;
    }

    .foreground-fill {
      fill: $white;
    }
  }

  .portfolio-image {
    max-width: 300px;
    width: 100%;
    margin-bottom: 1rem;
  }

  .callout-text {
    font-size: 100px;
    color: $teal;
  }

  // Ugg, hacky, but what's the alternative?
  .vertical-center-1 {
    @include media($desktop) {
      position: relative;
      top: -18px;
    }
  }

  .vertical-center-2 {
    @include media($desktop) {
      position: relative;
      top: 23px;
    }
  }

  .vertical-center-3 {
    @include media($desktop) {
      position: relative;
      top: 0px;
    }
  }

  .vertical-center-4 {
    @include media($desktop) {
      position: relative;
      top: 0px;
    }
  }

  .vertical-center-5 {
    @include media($desktop) {
      position: relative;
      top: -30px;
    }
  }

  .vertical-center-6 {
    @include media($desktop) {
      position: relative;
      top: -32px;
    }
  }
}
