table {
  margin: 0 0 2em 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid $purple;

  &.align-right {
    text-align: right;
  }
}

table th {
  border-width: 2px;
  color: $teal;
  font-size: 1.5em;
  font-weight: 100;
}

table thead tr:hover {
  background-color: $white;
}

table tr.strong {
  font-weight: bold;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) {
  background-color: $white;
}

table tr:hover {
  background-color: $light-grey;
}

table.reorderable tr:hover {
  cursor: move;
}

td.nowrap {
  white-space: nowrap;
}