table {
  margin: 0 0 2em 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 15px 15px;
  text-align: left;
  border-bottom: 1px solid $purple;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &.align-right {
    text-align: right;
  }
}

table th {
  border-width: 2px;
  font-size: 1em;
  font-weight: 400;
}

table tr.strong {
  font-weight: bold;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

table tr:nth-child(even) {
  background-color: $white;
}

table.reorderable tr:hover {
  cursor: move;
}

td.nowrap {
  white-space: nowrap;
}

td.centered {
  text-align: center;
}
