$white: #FFF;
$light-grey: #EEE;
$medium-grey: #DDD;
$grey: #797677;
$dark-grey: #666;
$black: #000;

$teal: #0081a1;

/* Subdomain-specific colors */
/* CPL */
$cpl-blue: #2d63af;
$cpl-purple: #89288c;
$blind-man-mustard: #ae8208;
$mustard-2: #795b05;

/* NPL */
$npl-blue: #004E95;
$npl-orange: #C64918;

/* KPL */
$kpl-blue: #155999;
$kpl-green: #0B840B;
$kpl-gray: #4C4C4C;

/* TSCPL */
$tscpl-blue: #0073CF;
$tscpl-orange: #A66401;
$tscpl-gray: #464646;
$tscpl-action-gray: #333333;

/* PIMA */
$pima-blue: #2C3590;
$pima-light-blue: #147BBA;
$pima-gray: #716C6B;

/* EBRPL */
$ebrpl-dark-blue: #2E388F;
$ebrpl-light-blue: #0A57A2;

/* carnegielibrary */
$carnegielibrary-purple: #7B2986;
$carnegielibrary-blue: #37617A;
$carnegielibrary-gray: #525151;


$purple: #8945a1;
$purple-2: #7b439b;
$dark-purple: #7D3191;
$red: #f0502c;
$orange: #fa8c28;
$dark-orange: darken($orange, 10%);

$error-font-color: #c94235;
$error-border-color: #c94235;
$error-color: #FCF5F4;

$notice-font-color: #444;
$notice-border-color: #9dbc89;
$notice-color: #e3ecdc;

// $font-primary: "Open Sans", sans-serif;
$font-primary: sans-serif;
$font-secondary: "Roboto", sans-serif;

/* Breakpoints */
$mobile: new-breakpoint(max-width 500px 12);
$mobile-large: new-breakpoint(max-width 700px 12);
$mobile-xlarge: new-breakpoint(max-width 830px 12);
$tablet: new-breakpoint(max-width 1044px 12);
$desktop: new-breakpoint(min-width 1044px 12);
