$white: #fff;
$lightish-grey: #efefef;
$light-grey: #eee;
$medium-grey: #ddd;
$grey: #A7A5A6;
$dark-grey: #333;
$black: #000;

$teal: #009ec5;
$purple: #8945a1;
$red: #f0502c;

$error-font-color: #c94235;
$error-border-color: #db8a83;
$error-color: #f5dddb;

$notice-font-color: #444;
$notice-border-color: #9dbc89;
$notice-color: #e3ecdc;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/* Breakpoints */
$mobile: new-breakpoint(max-width 500px 4);
$mobile-large: new-breakpoint(max-width 700px 12);
$tablet: new-breakpoint(max-width 1024px 12);
$desktop: new-breakpoint(min-width 1024px 12);
