<h2>Designing DigitalLearn Courses - Part 1</h2>
<iframe src='<%= "/trainings/designing_courses_1/story.html" %>' width="980" height="658"></iframe>

<br/>
<br/>
<div>We also have <a href="https://www.dropbox.com/sh/llktt96v4amj6uf/AABfkhHBHALOdfp7oZdVSbeZa?dl=0" target="_blank">additional resources for your use</a>, such as the DigitalLearn style sheet, Storyboard Template, and more.</div>
<br/>
<br/>
<div class="practice-link"><a href='<%= designing_courses_2_path %>'>Designing DigitalLearn Courses - Part 2 >></a></div>
