<%= render "shared/course_intro_text" %>

<% if @courses.count > 0 %>
  <%= render "shared/courses/listing" %>
<% else %>
  <p>No courses match your search. <%= link_to "View all courses", courses_path %></p>
<% end %>
