<%= content_for :banner do %>
  <h1><%= @course.title %></h1>
<% end %>

<p class="breadcrumbs">Courses >> Getting Started on the Computer</p>

<p><span>Icon</span><span>4 Lessons</span></p>
<p><span>Icon</span><span>15 Minutes</span></p>
<p class="note">Contributed by Leslie James, Commerce Kitchen</p>
<button>Start Course</button>

<p>
  <%= @course.summary %>
</p>

<hr>

<h2>Lessons in this course</h2>

<h2>Supplemental Materials</h2>
