.congrats-banner {
  margin-top: 2em;
  background-color: $teal;
  text-align: center;
  border: solid;
  border-color: $grey;
  border-width: 0.3em;
  padding: 5em;
  @media (max-width: $breakpoint-tablet) {
    padding: 2em;
  }

  .extra-margin {
    margin-bottom: 2em;
  }

  .bottom-button {
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 0.5em;
    }
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 0.5em;
    }
  }

  p {
    color: $white;
    font-size: 2em;
    margin: 0 0 1em 0;
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.5em;
    }
    &.small-margin {
      margin-bottom: 0;
    }
  }
}
