.course-widget {
  display: block;
  width: 100%;
  border: 1px solid #C2C2C2;
  margin-bottom: 2em;
  height: 175px;
  overflow: hidden;
}

a.course-widget {
  text-decoration: none;
}

.course-listing .clear-margin-right {
  margin-right: 0;
}

.course-widget,.course-widget header {
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
}

.course-widget header {
  height: 75px;
  overflow: hidden;
}

a.course-widget header {
  background: #8945a1;
  background: -moz-linear-gradient(top,#8945a1 0%,#7b439b 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#8945a1),color-stop(100%,#7b439b));
  background: -webkit-linear-gradient(top,#8945a1 0%,#7b439b 100%);
  background: -o-linear-gradient(top,#8945a1 0%,#7b439b 100%);
  background: -ms-linear-gradient(top,#8945a1 0%,#7b439b 100%);
  background: linear-gradient(to bottom,#8945a1 0%,#7b439b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8945a1',endColorstr='#7b439b',GradientType=0);
}

div.course-widget header {
  background-color: #E9E9E9;
  background: -moz-linear-gradient(top,#f4f4f4 0%,#c2c2c2 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(100%,#c2c2c2));
  background: -webkit-linear-gradient(top,#f4f4f4 0%,#c2c2c2 100%);
  background: -o-linear-gradient(top,#f4f4f4 0%,#c2c2c2 100%);
  background: -ms-linear-gradient(top,#f4f4f4 0%,#c2c2c2 100%);
  background: linear-gradient(to bottom,#f4f4f4 0%,#c2c2c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#c2c2c2',GradientType=0);
}

a.course-widget:hover {
  -moz-box-shadow: 0 0 10px rgb(155,155,155);
  -webkit-box-shadow: 0 0 10px rgb(155,155,155);
  box-shadow: 0 0 10px rgb(155,155,155);
}

.course-widget h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0em auto;
  /*background: url(/sites/all/themes/custom/dlc/img/default_book.png) no-repeat right 5px;*/
  width: 75%;
  padding: .5em .5em .5em .25em;
  height: 45px;
}

div.course-widget h3 {
  color: #818181;
  /*background: url(/sites/all/themes/custom/dlc/img/default_book.png) no-repeat right -65px;*/
}

.course-widget .description {
  position: relative;
  background-color: white;
  height: 80px;
  margin: .75em 1em 0;
}

.course-widget p {
  color: $grey;
  margin: 0;
  font-weight: 300;
}

.course-widget .duration {
  color: #A4A4A4;
  font-size: 1.3em;
  position: absolute;
  right: 0;
  bottom: 0;
  /*background: url(/sites/all/themes/custom/dlc/img/time_gray_sm.png) no-repeat left center;*/
  padding-top: 1px;
  padding-left: 1.3em;
  font-weight: 400;
}