.course-form {
  margin-top: 2em;
  display: grid;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  grid-gap: 2em;
  grid-template-areas:
    "errors errors"
    "title title"
    "author author"
    "summary summary"
    "description description"
    "text_copies text_copies"
    "resources resources"
    "additional_content additional_content"
    "topics categories"
    "language format"
    "course_level access_level"
    "seo_title seo_title"
    "seo_meta seo_meta"
    "pub_status ."
    "actions actions";

  &.restricted {
    grid-template-areas:
      "errors errors"
      "categories access_level"
      "resources resources"
      "additional_content additional_content"
      "pub_status ."
      "actions actions"
      "title title"
      "author author"
      "summary summary"
      "description description"
      "text_copies text_copies"
      "topics ."
      "language format"
      "course_level ."
      "seo_title seo_title"
      "seo_meta seo_meta";
  }

  .error_explanation {
    grid-area: errors;
  }

  .title {
    grid-area: title;
  }

  .author {
    grid-area: author;
  }

  .summary {
    grid-area: summary;
  }

  .description {
    grid-area: description;
  }

  .text-copies {
    grid-area: text_copies;

    .fields {
      margin-left: 2em;
    }
  }

  .resources {
    grid-area: resources;

    .fields {
      margin-left: 2em;
    }
  }

  .additional-content {
    grid-area: additional_content;
  }

  .topics {
    grid-area: topics;
  }

  .categories {
    grid-area: categories;
  }

  .language {
    grid-area: language;
  }

  .format {
    grid-area: format;
  }

  .course-level {
    grid-area: course_level;
  }

  .pub-status {
    grid-area: pub_status;
  }

  .access-level {
    grid-area: access_level;
  }

  .seo-title {
    grid-area: seo_title;
  }

  .seo-meta {
    grid-area: seo_meta;
  }

  .pub-status {
    grid-area: pub_status;
  }

  .propagation {
    grid-area: propagation;
  }

  .actions {
    grid-area: actions;
  }

  .imported-course-actions {
    border-bottom: 1px solid $grey;

    p {
      margin-block-start: 2em;
      margin-block-end: 0;
    }
  }
}

.attachment-upload-fields {
  max-width: 50%;
  margin-bottom: 1em;

  @media (max-width: $breakpoint-mobile-large) {
    max-width: 100%;
  }
}
