.course-progress {
  color: $white;
  float: right;
  min-width: 33%;

  header {
    margin-top: 30px;
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }

  footer {
    margin-top: 0.8em;
    font-size: 0.8em;

    .percent-complete {
      display: inline-block;
      width: 50%;
    }

    .next-lesson-link {
      display: inline-block;
      width: 48%;
      text-align: right;
    }
  }

  .progress-bar {
    $base-border-color: $white !default;
    $base-border-radius: 15px !default;
    $base-background-color: $grey !default;
    $base-line-height: 1.5em !default;
    $action-color: $orange !default;
    $progress-border-color: $base-border-color;
    $progress-border: 2px solid $progress-border-color;
    $progress-meter-border-color: $action-color;
    $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
    $progress-meter-color: $progress-meter-border-color;
    $progress-background: darken($base-background-color, 5);
    $progress-animation-duration: 0.7s;
    $progress-color: $white;

    background-color: $progress-background;
    border-radius: $base-border-radius;
    border: $progress-border;
    box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
    margin: 0 auto;
    width: 100%;
    height: 20px;
    overflow: hidden;

    > span.meter {
      @include box-sizing(border-box);
      background-color: $progress-meter-color;
      background-repeat: repeat-x;
      background-size: 40px 40px;
      border-radius: $base-border-radius / 1.5;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border: $progress-meter-border;
      display: block;
      height: 100%;
      width: 60%;
    }

    > span.lesson-break {
      border-left: 2px solid $white;
      height: 100%;
      width: 0px;
      position: relative;
      top: -18px;
    }

    .current-lesson {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $white;
      position: relative;
      top: -9px;
    }
  }
}
