.course {
  display: flex;
  justify-content: space-between;

  .course-details {
    color: $teal;
    font-size: 2em;
    margin: 1em 0 0.5em 0;
    font-weight: 200;

    @media (max-width: $breakpoint-mobile-large) {
      font-size: 1.6em;
    }
  }

  .course-actions {
    text-align: right;
  }
}

//Room for start course so it's not hit accidentalyt
.course-edit-add-remove {
  margin-bottom: 10px;
  margin-top: 10px;
}
