.lesson-block {
  height: 200px;
  width: 200px;
  background-color: $teal;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;

  @include media($tablet) {
    height: 150px;
    width: 150px;
  }

  @include media($mobile-large) {
    height: 100px;
    width: 100px;
  }

  .lesson-order {
    font-size: 4em;

    @include media($tablet) {
     font-size: 2em;
    }

    @include media($mobile-large) {
      font-size: 1.5em;
    }
  }

  .lesson-title {
    font-size: 2em;
    margin-bottom: 2em;

    @include media($tablet) {
      font-size: 1.5em;
      /*margin-bottom: 1em;*/
    }

    @include media($mobile-large) {
      font-size: 1em;
    }
  }

  .lesson-duration {
    [class^="icon-"]:before, [class*=" icon-"]:before {
      color: $white;
    }
  }

  .icon-arrow::before {
    position: absolute;
    right: 0;
    color: $orange;
    font-size: 2em;
  }

  .default-state {
    display: block;
  }

  .hover-state {
    display: none;
  }

  &:hover {
    background-color: $white;
    color: $grey;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 5px 15px;

    .lesson-order {
      font-size: 2em;
    }

    .icon-clock::before {
      color: $grey;
      font-size: 1.25em;
      padding-right: 1em;
    }

    .lesson-title {
      font-size: 1em;
      font-weight: bold;
      color: $dark-grey;
      margin-bottom: 0;
      text-align: left;
    }

    .lesson-duration {
      font-size: 1.25em;
    }

    .lesson-summary {
      font-size: .8em;
      text-align: left;
    }

    .btn {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }

    .default-state {
      display: none;
    }

    .hover-state {
      display: block;
    }
  }
}
