.header-logged-in {
  .logo {
    .logo-icon {
      display: inline-block;
      width: 90px;
      vertical-align: top;
    }

    .logo-content {
      display: inline-block;
      position: relative;
      top: 14px;
      h1, h2 {
        margin: 0;
      }
    }
  }
}

.header-logged-out {
  .logo {
    .logo-icon {
      width: 155px;
      position: relative;
      top: -20px;
    }
  }
}