.search-box {
  height: 3em;
  padding: 5px;
  white-space: nowrap;
  border: 3px solid $grey;
  border-radius: 5px;
  color: $grey;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;

  @media (max-width: $breakpoint-mobile-xlarge) {
    width: 80%;
  }

  @media (max-width: $breakpoint-mobile-large) {
    width: 100%;
  }

  .icon-search {
    font-size: 1.5em;
    padding-left: 5px;
    height: 2em;
  }

  .search-input {
    flex-grow: 1;
    height: 2em;
    padding-left: 5px;
    border: none;
    background-color: white;
  }
}
