.sortable_list_wrapper {
  margin-bottom: 3rem;
}

.list-titles {
  font-size: 1em;
  font-weight: 400;
  display: table;
  width: 100%;
}

.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid;
  border-bottom: 1px solid;

  &:first-child {
    &.sortable-dragging {
      border-bottom: none;
    }
  }

  &:not(.sortable-dragging) {
    border-top: 1px solid;
  }

  &:not(.sortable-dragging) ~ &:not(.sortable-dragging) {
    border-top: none;
  }
}

.cell {
  display: table-cell;
  width: 15%;
  vertical-align: middle;

  @media (max-width: $breakpoint-mobile-large) {
    display: block;
  }
}

.wide-cell {
  display: table-cell;
  width: 50%;
  @media (max-width: $breakpoint-mobile-large) {
    display: block;
  }
}

ul.objects {
  list-style: none;
  padding-left: 0;
}

ul.reorderable li:hover {
  cursor: move;
}

li.sortable-placeholder {
  border: 1px dashed #ccc;
  background-color: #f9f9f9;
  height: 50px;
  margin-bottom: 10px;
}
