.sortable_list_wrapper {
  margin-bottom: 3rem;
}

.list-titles {
  border-width: 2px;
  font-size: 1em;
  font-weight: 400;
}

.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cell {
  display: table-cell;
  width: 15%;
  vertical-align: middle;
  @include media($mobile-large) {
    display: block;
  }
}

.wide-cell {
  display: table-cell;
  width: 50%;
  @include media($mobile-large) {
    display: block;
  }
}

ul.objects {
  list-style: none;
  padding-left: 0;
}

ul.objects li:last-child {
  border-bottom: none;
}

ul.reorderable li:hover {
  cursor: move;
}

li.sortable-placeholder {
  border: 1px dashed #ccc;
  background-color: #f9f9f9;
  height: 50px;
  margin-bottom: 10px;
}

.category_row {
  float: none;
  margin: 0;
}
