@import "vars";

.cert-box {
  border: solid;
  border-color: $teal;
  height: 43.5em;
  text-align: center;
  color: $dark-grey;
  h1 {
    font-size: 3.5em;
    margin: 1.5em 0;
    color: red;
  }
  h2 {
    font-size: 2.5em;
    margin: 0.5em 0;
    font-weight: lighter;
    &.name {
      color: $purple;
    }
    &.course {
      color: $teal;
    }
  }
  p {
    font-size: 1.5em;
    margin: 0.2em 0;
  }
  img {
    position: absolute;
    bottom: 2em;
    left: 2.5em;
  }
}

.att-pdf-cert {
  background-color: $att-light-blue;
  padding: 2em;

  .att-cert-box {
    height: auto;
    text-align: center;
    border: none;
    padding: 3rem;
    background-color: $white;
    color: $att-light-blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    p {
      font-size: 1.5em;
    }

    h1 {
      font-size: 3.5em;
      margin: 0 0 1em 0;
    }

    .name-fill {
      border-bottom: 1px solid $att-light-blue;
      width: 75%;
      margin: 3em auto 1em auto;
    }

    h2 {
      font-size: 2.5em;
      font-weight: lighter;
      margin-bottom: 2em;
    }

    img {
      margin: 2em;
      position: relative;
      height: 5em;
    }
  }
}
