.cert-box {
  border: solid;
  border-color: $teal;
  height: 43.5em;
  text-align: center;
  color: $dark-grey;
  h1 {
    font-size: 3.5em;
    margin: 1.5em 0;
  }
  h2 {
    font-size: 2.5em;
    margin: 0.5em 0;
    font-weight: lighter;
    &.name {
      color: $purple;
    }
    &.course {
      color: $teal;
    }
  }
  p {
    font-size: 1.5em;
    margin: 0.2em 0;
  }
  img {
    position: absolute;
    bottom: 2em;
    left: 2.5em;
  }
}
