$white: #fff;
$light-grey: #eee;
$medium-grey: #ddd;
$grey: #666;
$dark-grey: #666;
$black: #000;

$teal: #0081a1;

/* Subdomain-specific colors */
/* CPL */
$cpl-blue: #2d63af;
$cpl-purple: #89288c;
$mustard: #ae8208;
$mustard-2: #795b05;

/* NPL */
$npl-blue: #004e95;
$npl-orange: #c64918;

/* KPL */
$kpl-blue: #155999;
$kpl-green: #0b840b;
$kpl-gray: #4c4c4c;

/* TSCPL */
$tscpl-blue: #0073cf;
$tscpl-orange: #a66401;
$tscpl-gray: #464646;
$tscpl-action-gray: #333333;

/* PIMA */
$pima-blue: #2c3590;
$pima-light-blue: #147bba;
$pima-gray: #716c6b;

/* EBRPL */
$ebrpl-dark-blue: #2e388f;
$ebrpl-light-blue: #0a57a2;

/* carnegielibrary */
$carnegielibrary-purple: #7b2986;
$carnegielibrary-blue: #37617a;
$carnegielibrary-gray: #525151;

/* kclibrary */
$kc-blue: #337ab4;
$kc-grey: #545555;
$kc-light-grey: #d1d2d4;

/* Cleveland */
$cleveland-blue: #4169e1;
$cleveland-gray: #808080;
$cleveland-purple: #57317d;
$cleveland-red: #b22234;

/* York County */
$yclibrary-blue: #235ba8;
$yclibrary-light-blue: #c7dbf6;

/* Miami Dade */
$mdpls-dark-blue: #0b3352;
$mdpls-blue: #145a92;
$mdpls-green: #046434;
$mdpls-gray: #808080;

/* AT&T */
$att-blue: #0057b8;

$purple: #8945a1;
$purple-2: #7b439b;
$dark-purple: #7d3191;
$red: #f0502c;
$orange: #fa8c28;
$dark-orange: darken($orange, 10%);

$error-font-color: #c32500;
$error-border-color: #c32500;
$error-color: #fcf5f4;

$notice-font-color: #444;
$notice-border-color: #9dbc89;
$notice-color: #e3ecdc;

// $font-primary: "Open Sans", sans-serif;
$font-primary: sans-serif;
$font-secondary: "Roboto", sans-serif;

// Layout
$container-max-width: 1024px;

/* Breakpoints */
$breakpoint-mobile: 500px;
$breakpoint-mobile-large: 700px;
$breakpoint-mobile-xlarge: 830px;
$breakpoint-tablet: 1044px;
