<%= content_for(:callout) { "Edit This Course" } %>

<h1>Course Information</h1>

<%= render 'administrators/courses/forms/form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
