<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:<%= t('confirmation_email.confirm_your_account_through_link') %></p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
