<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your <%= @resource&.organization&.name %> Digital Learn account password. You can do this through the link below:</p>

<p><%= link_to 'Change my Password', edit_password_url(@resource, reset_password_token: @token, subdomain: (@resource&.organization&.subdomain || 'www')) %></p>

<p>If you did not request a password reset, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>Make sure you are using the most recent password reset link. Only the latest reset password email is valid.</p>
