<header class="header-logged-in">
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="sevencol">
        <%= render "shared/logo_purple" %>
      </div>
      <div class="fivecol last">
        <nav class="left-or-right">
          Hi Admin! |
          <%= link_to "Admin Dashboard", admin_dashboard_index_path %> |
          <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
        </nav>
      </div>
    </div>
  </div>
</header>
