<div class='attachment-list'>
  <% attachments.each do |a| %>
    <div class='attachment'>
      <div class='attachment-filename'>
        <%= a.document_file_name %>
      </div>
      <% if allow_delete %>
        <div class='attachment-delete'>
          <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>