  <div class="form-actions spread actions">
    <%= f.submit "Publish Course", class: "button-color" %>
    <%= f.submit "Save as Draft", class: "button-color" %>
    <%= f.submit "Edit Lessons", class: "button-color" %>
  </div>