  <div class="form-actions spread actions imported-course-actions">
    <%= f.submit "Save Course", class: "button-color" %>
    <p><i>
      If you wish to edit additional details of this course and use the PLA-created Storyline files, please <%= mail_to "support@digitallearn.org", "contact a PLA Administrator" %>.
    </i></p>
  </div>