  <div class="form-actions spread actions">
    <%= f.submit "Publish", params: { commit: "Publish" }, class: "button-color" %>
    <p><i>
      If you wish to edit details of this course and use the PLA-created Storyline files, please <%= mail_to "support@digitallearn.org", "contact a PLA Administrator" %>.
    </i></p>
  </div>