<div class="form-row inline">
  <fieldset class='inline-item'>
    <%= f.label :level, class: "text-color" do %>
      Course Level<span class="required"></span>
    <% end %>
    <%= f.select(:level, options_for_select(["Beginner", "Intermediate", "Advanced"], @course.level), { include_blank: "Select..." } ) %>
  </fieldset>
  <fieldset class='inline-item'>
    <%= f.label :pub_status, class: "text-color" do %>
      Publication Status<span class="required"></span>
    <% end %>
    <%= f.select(:pub_status, options_for_select([["Draft", "D"], ["Published", "P"], ["Archived", "A"]], @course.pub_status), { include_blank: "Select..." }, data: { status: @course.pub_status }) %>
  </fieldset>
</div>
