<%# Fields for Post Course Materials %>
<fieldset class='form-row'>
  <div class="removable">
    <%= f.hidden_field :doc_type, value: "post-course" %>
    <%= f.file_field :document, class: "upload-field" %>
    <%= f.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description for this resource..." %>
  </div>
  <%= link_to_remove_child "remove field" %>
</fieldset>
