<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h2>Import DigitalLearn Courses</h2>

<section class="admin-resource-page-header">
  <div class="description">
    <p class="emphasis no-top-margin">
      These courses are offered by DigitalLearn for you to import into your organization's courses.
    </p>
  </div>
  <div class="action">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn button-color" %>
  </div>
</section>

<% (@category_ids || []).each do |category_id| %>
  <%= render partial: "admin/courses/import_list", locals: { courses: @importable_courses.with_category(category_id), category: Category.find_by_id(category_id) } %>
<% end %>

<% if @uncategorized_courses.present? %>
  <%= render partial: "admin/courses/import_list", locals: { courses: @uncategorized_courses, category: nil } %>
<% end %>
