<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1>DigitalLearn Courses</h1>

<div class="row">
  <div class="sixcol">
    <p class="emphasis no-top-margin">
      These courses are offered by DigitalLearn for you to import into your organization's courses.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn button-color" %>
  </div>
</div>

<% (@category_ids || []).each do |category_id| %>
  <%= render partial: "admin/courses/sortable_import_list", locals: { courses: @importable_courses.with_category(category_id), category: Category.find_by_id(category_id) } %>
<% end %>

<% if @uncategorized_courses.present? %>
  <%= render partial: "admin/courses/sortable_import_list", locals: { courses: @uncategorized_courses, category: nil } %>
<% end %>
