<%= content_for(:callout) { %><h1>Admin Dashboard</h1><% } %>

<h1 class="text-color">Courses</h1>

<div class="row">
  <div class="sixcol">
    <p class="emphasis no-top-margin">
      Re-order courses on the homepage by clicking on the arrow icon to drag and drop courses. Edit by clicking the appropriate course below.
    </p>
  </div>
  <div class="sixcol last left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn button-color" %>
  </div>
</div>


<% (@category_ids || []).each do |category_id| %>
  <%= render partial: "admin/courses/sortable_list", locals: { courses: @courses.with_category(category_id), category: Category.find_by_id(category_id) } %>
<% end %>

<% if @uncategorized_courses.present? %>
  <%= render partial: "admin/courses/sortable_list", locals: { courses: @uncategorized_courses, category: nil } %>
<% end %>