<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <% if current_organization.custom_certificate_enabled? %>
      <%= wicked_pdf_stylesheet_link_tag "subdomains/pdfs/#{current_organization.subdomain}" -%>
    <% else %>
      <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <% end %>
  </head>
  <body class="<%= current_organization.subdomain %>">
    <div class="pdf-page">
      <%= yield %>
    </div>
  </body>
</html>
