<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_spa_tags %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
